.slick-dots-bottom {
    margin: 0 !important;
    padding: 0 !important;
    display: none;
}

// .ant-carousel .slick-dots li button {
//     width: 12px !important;
//     height: 12px !important;
//     border-radius: 50% !important;
//     display: none;
// }
// .ant-carousel .slick-dots li.slick-active button {
//     margin: 0 !important;
//     padding: 0 !important;
// }

.slider-arrow {
    position: absolute;
    top: 53%;
    transform: translateY(-50%);
    font-size: 25px;
    z-index: 2;
    width: 50px;
    height: 100px;
    color: #d8d8d8 !important;
    cursor: pointer;
    transition: all 0.2s;

    &:hover {
        color: #fb4226 !important;
    }
}

.overlay {
    ::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: rgba(0, 18, 50, 0.1);
        z-index: 2;
    }
}
