.cards:hover {
    .thumbnail-img {
        transform: scale(1.1);
        transition: all 0.3s linear, all 0.3s linear;
    }
}

.cards {
    .thumbnail-img {
        transition: all 0.3s linear, all 0.3s linear;
    }
}
