@tailwind base;
@tailwind components;
@tailwind utilities;

.authBtn {
  @apply px-12 py-3 font-semibold text-sm rounded-full text-white duration-300 ease-in-out
    bg-gradient-to-r from-yellow-400 via-red-500 to-indigo-700 hover:shadow-button;
}

@layer components {
  .button--action {
    @apply px-12 py-3 font-semibold text-sm rounded-full text-white duration-300 ease-in-out min-w-52
    bg-gradient-to-r from-yellow-400 via-red-500 to-indigo-700 hover:shadow-button;
  }

  .button--transparent {
    @apply px-12 py-3 font-semibold text-sm rounded-full text-white duration-300 ease-in-out min-w-52
    bg-transparent border-2 border-indigo-500 hover:shadow-button;
  }

  .button--action-sm {
    @apply px-12 py-1 font-semibold text-sm rounded-full text-white duration-300 ease-in-out min-w-52
    bg-gradient-to-r from-yellow-400 via-red-500 to-indigo-700 hover:shadow-button;
  }
  .button--action-modal {
    @apply px-12 py-1 font-semibold text-sm rounded-full text-white duration-300 ease-in-out
    bg-gradient-to-r from-yellow-400 via-red-500 to-indigo-700 hover:shadow-button;
  }
  .button--transparent-modal {
    @apply px-12 py-1 font-semibold text-sm rounded-full text-white duration-300 ease-in-out
    bg-transparent border-2 border-indigo-500 hover:shadow-button;
  }
}
