.detail {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    backdrop-filter: blur(20px);
    position: relative;
    // ::before {
    //     content: "";
    //     position: absolute;
    //     top: 0;
    //     left: 0;
    //     bottom: 0;
    //     right: 0;
    //     background: rgba(0, 18, 50, 0.01);
    //     z-index: 1;
    // }
    // .detail__content {
    //     z-index: 99;
    // }
}
