.detail {
    background-position: 10% 10%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    backdrop-filter: blur(20px);

    // background-color: rgba(255, 255, 255, 0.65);
    // box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    // -webkit-backdrop-filter: blur(20px);
    // border-radius: 10px;
    // border: 1px solid rgba(255, 255, 255, 0.18);

    .detail__customCard {
        height: 500px;
        border-radius: 0;
    }
}
