.trapezoid {
    border-bottom: 50px solid gray;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    height: 0;
    width: 80%;
    opacity: 0.1;
}

// Ghế thường
.ghe {
    width: 35px;
    height: 35px;
    border: none;
    border-right: 5px;
    cursor: pointer;
    margin: 5px;
    background-color: rgb(123, 122, 122);
    color: #fff;
}

.gheDaDat {
    background-color: rgb(232, 76, 76);
    cursor: no-drop;
}

.gheDangDat {
    background-color: rgb(18, 176, 18) !important;
}

.gheVip {
    background-color: rgb(228, 74, 8);
}

.gheDaDuocDat {
    background-color: #ccc;
}

// --------------------------------------------
.customTab {
    .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
        color: #31d7a9 !important;
    }
    .ant-tabs-tab-btn {
        font-size: 18px;
    }
    .ant-tabs-tab-active {
        padding: 14px;
        font-size: 18px;
    }
    .ant-tabs-ink-bar {
        background: #31d7a9;
        padding-top: 2px;
    }
    .ant-tabs-nav::before {
        /* For the line to the right and close to the tabs */
        // border-bottom: 2px solid #31d7a9 !important;
        border-bottom: none !important;
    }
}
